.button-tw {
  background-color: #67ACE9;
}

.button-fb {
  background-color: #3F5A93;
}

.button-gplus {
  background-color: #CE5542;
}

.button-li {
  background-color: #3282C4;
}

.button-ins {
  background-color: #385E82;
}
